<div class="content">
	<div>
		A Fresh Take on an Old Idea
	</div>

	<div class="indented">
		<p>
			A couple of months ago, we were having lunch with our good friends from 
			RocketFuel, and someone mentioned 
			how fun it would be to make a web site that functioned like a command line. 
			We starting drafting plans as soon as we got back to the office.
		</p>
		<br/>
		<p>
			People tend either to love the command line or to fear it like Death itself.  This is obviously 
			an exercise geared more to the former group, but we're hoping a few of you in the latter camp might dip 
			your toes in the water.  So far, all the bash users we know think it's terrific.
		</p>
		<br/>
		<p>
			But whether or not you'll ever use a real bash shell, we think you'll be surprised 
			that this kind of interface can be supported in a web browser with garden-variety tools.  And we think you'd be stunned to learn 
			how easy such things are to implement, if you know what you're doing.
		</p>
		<br/>
		<p>
			And that brings us to the real point.
		</p>
		<br/>
		<p>
			User interfaces can and should be geared to the audiences that use them.  Sometimes a simple and 
			novel take on the interface design can make something commonplace seem worth experimenting with again.
		</p>
		<br/>
		<p>
			So, give it a shot.  If you play around with 
			this interface for more than a few minutes, we guarantee you'll forget you're interacting with a web 
			site at least once.
		</p>
	</div>
</div>