<div class="content">
	<div>
		Interface Design
	</div>

	<div class="indented">
		<p>
			We think the user interface is the single most important part of any software system that has one.  
		</p>
		<br/>
		<p>
			We know most technologists don't work this way, but we try to think about it from a non-technical person's perspective.  
			From a user's point of view, the interface is the system&mdash;it is 
			the definition of what the system does and how it does it.
		</p>
		<br/>
		<p>
			In our experience, if the interface doesn't work for the system's users, it doesn't matter how scalable or well-designed the 
			components are.  Software with bad interface design is always delivered DOA.
		</p>
		<br/>
		<p>
			That's why we wireframe our interfaces in collaboration with the software's end users before we design and build 
			the system. It's also why we ask users to test and experiment with the software as we build it.  These extra steps 
			allow our clients to invest with confidence.  By consistently engaging users, our systems are guaranteed to be 
			well-received.
		</p>
	</div>

	<br/>

	<div>
		System Design
	</div>

	<div class="indented">
		<p>
			We design flexible, scalable software systems.
		</p>
		<br/>
		<p>
			Each component of any system we build is designed to be independent of every other component within that 
			system.  Components are then integrated through generic interfaces, ensuring that any individual piece can be 
			replaced safely, easily, and cost-effectively.  This also ensures that components and subsystems built from those 
			components can be scaled to meet any amount of traffic.
		</p>
		<br/>
		<p>
			It takes extra work to do things this way, but we think that's part of what separates Coroutine from the 
			pack.  We understand that the business requirements of your system will change more rapidly than the architectural 
			requirements.  By putting your system on firm architectural footing from the very outset, we help you focus your 
			time and money on what really matters&mdash;making sure your system keeps pace with the changing needs of your 
			customers.  
		</p> 
	</div>
</div>