<div class="content">
	<div>
		Collaborate.
	</div>
	
	<div class="indented">
		Users need to be involved in every step of the project.  Users and programmers don't need 
		translators&mdash;they need direct access to one another.
	</div>

	<br/>
	
	<div>
		Stay lean.
	</div>
	
	<div class="indented">
		Small teams of talented programmers outperform all other configurations.
		Period.
	</div>

	<br/>
	
	<div>
		Be creative.
	</div>
	
	<div class="indented">
		Anyone can think like a computer.  Only an artist can make a computer act like a 
		human.
	</div>

	<br/>
	
	<div>
		Do what is right.
	</div>
	
	<div class="indented">
		All decisions should be subjected to vigorous debate.  It takes courage to fight for your ideas.  It 
		takes more to change your mind.
	</div>

	<br/>
	
	<div>
		Have fun.
	</div>
	
	<div class="indented">
		The best work emanates from joy.  
	</div>
</div>