<div class="content">
	<div>
		Delevopers
	</div>
	
	<div class="indented">
		<p>
			We're always looking for great developers.  We wish we could tell you what languages you need 
			to know or how many years of experience you need to have, but frankly, we think those are terrible 
			metrics for finding the right team members.
		</p>
		<br/>
		<p>
			Above all, we value talent.  Coroutine's principals both have non-traditional computer science 
			backgrounds.  We're not hung up on where you went to college and whether or not you have a 
			masters degree&mdash;all we care about is whether you can cut it.  Tell us what you can 
			do.
		</p>
		<br/>
		<p>
			The rest is about culture.  Coroutine believes in the power of ideas.  Everything we do is subjected 
			to rigorous debate.  Here, heated discussions lead to great ideas not hard feelings.  The key is 
			our focus on peer relationships.  All technical staff have the same job title and responsibilities. 
			Everyone we hire can manage his own time, collaborate with his peers, and talk with our clients 
			like a reasonable, rational person.  The result is self-organizing teams, where the developers have 
			enough trust in, influence over, and respect for each other that leadership evolves 
			organically on a project-by-project basis.
		</p>
		<br/>
		<p>
			If you're interested in an engaging, zero-politics workplace where you'll be given the freedom to 
			write your very best code, drop us a line at jobs@coroutine.com.
		</p>
	</div>

	<br/>
	
	<div>
		Sales
	</div>

	<div class="indented">
		<p>
			We are technologists, not salespeople.  Despite that, we've managed to do alright for ourselves.  We know 
			we don't actually possess any skill in this area&mdash;it's just the service selling itself.  But 
			that's no way to grow.
		</p>
		<br/>
		<p>
			We're looking for someone to help us find the right kind of engagements.  It's tricky for several reasons.
			First, service sales are always harder than widget sales.  Second, our particular kind of service is 
			usually not well-understood by non-technical folks, which includes most salespeople and many of our 
			prospective clients.  Third, maybe you've noticed the recent economic downturn? 
		</p>
		<br/>
		<p>
			We need someone who can design and execute a strategy for kicking things up a notch around here.  If that 
			sounds like you, drop us a line at jobs@coroutine.com.
		</p>
	</div>
</div>