<div class="content">
	<div>
		A New Kind of Users Group
	</div>

	<div class="indented">
		<p>
			MemBrain is a Memphis-based group of software enthusiasts who learn about emerging 
			technologies and make wonderful stuff through collaboration.
		</p>
		<br/>
		<p>
			What makes MemBrain special is our focus on doing things.  Most user groups are organized to 
			facilitate lectures, presentations, and product pitches from vendors.  These activities 
			definitely have their place, but they're not what MemBrain is about.
		</p>
		<br/>
		<p>
			MemBrain meetings are organized around tracks.  We choose a topic of interest to the group, 
			dream up a fun, real-world implementation of that topic, and then commit one night a week for 
			the following three to six weeks to build out the concept.  Our meetings are spent at the whiteboard; 
			our homework assignments get checked into a version control system.
		</p>
		<br/>
		<p>
			Our hope is that some of these ideas will be good enough that our members will take them up and 
			run with them.  In the long run, we see MemBrain as a breeding ground for new businesses.
		</p>
		<br/>
		<p>
			MemBrain is an open group.  Anyone is welcome to join.  We know our web presence needs attention, but 
			we've been busy building software.  We'll get there.  In the meantime, you can find us in the usual 
			places.
		</p>
		<br/>
		<p>
			http://groups.google.com/group/membrain<br/>
			http://github.com/membrain<br/>
			http://www.facebook.com/pages/MemBrain/98337175302?ref=nf<br/>
			http://twitter.com/membrainws
		</p>
	</div>
</div>