<div class="content">
	<div>
		Getting Out of Our Comfort Zone
	</div>

	<div class="indented">
		<p>
			A few months ago, Coroutine turned two and a half years old.  We had spent those years working tirelessly 
			at client sites, predominantly as subcontractors.  All that effort did wonders for our balance sheet, but 
			it wasn't going to get us anywhere important.  You can build a profitable business through subcontracting, 
			but you can't build a brand.
		</p>
		<br/>
		<p>
			This wasn't a surprise.  Our five year plan called for two or three years of subcontracting followed by 
			two or three years of selling, managing, and executing our own projects.  We had taken subcontracting 
			about as far as it could go&mdash;it was time to make the transition.
		</p>
	</div>

	<br/>
	
	<div>
		Emerging
	</div>

	<div class="indented">
		<p>
			In May, our good friend Robert Taylor from Rasberry CRE showed us 
			every non-traditional office space in Memphis.  Unfortunately, that doesn't take very long in this city. 
			Even still, we found two places we liked very much.
		</p>
		<br/>
		<p>
			At the last minute, a friend recommended that we talk to Gwin Scott from EmergeMemphis.  We, of course, knew of 
			EmergeMemphis, and as young entrepreneurs, we were sympathetic to their goals.  But we always thought 
			EmergeMemphis was a incubator in the dotcom sense of the term.  We weren't interested in sharing a stake in the 
			company; we didn't need capital; and, we weren't up for lots of unsolicited advice from strangers.
		</p>
		<br/>
		<p>
			Man, did we have it all wrong.
		</p>
		<br/>
		<p>
			As it turns out, EmergeMemphis isn't so much of an incubator as it is an accelerator of early stage companies. 
			To our surprise, we were exactly the kind of company Gwin was looking to recruit.  Coroutine had a strong business 
			plan, a history of profits and good decisions, and that certain spark that gives a place like EmergeMemphis its
			defining character.
		</p>
		<br/>
		<p>
			And what's more, EmergeMemphis is the rarest of entities&mdash;a truly, benevolent force.  They don't take equity 
			stakes in their member companies and they don't interfere where they're not wanted.  Instead, they offer consistently 
			great advice, discounted rent on some of the best commercial real estate in town, and a community of bright, energetic 
			folks, all of whom want to see you succeed.
		</p>
		<br/>
		<p>
			It was a no-brainer.
		</p>
		<br/>
		<p>
			So, we're finally moved in.  We've built a couple of gigantic whiteboards.  Furniture has started to arrive.  
			The network is coming together slowly but surely.  We like the way things are shaping up.
		</p>
		<br/>
		<p>
			Stop by and say hello.  
		</p>
	</div>
</div>