<div class="content">
	<div>
		What is Strategy?
	</div>

	<div class="indented">
		<p>
			When most consultants talk about strategy, they're talking about idea generation.  They want 
			to come in on the white horse, dazzle you with their creativity, and get you to head of into whole 
			new directions.  We're creative folks&mdash;we can definitely do that kind of thing, if that's what 
			you require.  But frankly, that's not the kind of strategic help most companies need.
		</p>
		<br/>
		<p>
			In our experience, companies already know what they need to do.  What they need help deciding is how to 
			get from where they are to where they'd like to go and, just as importantly, whether or not the journey 
			is worth the expense.
		</p>
		<br/>
		<p>
			We help our clients answer these questions by building tangible, actionable plans.   
		</p>
	</div>
	
	<br/>

	<div>
		A Common Sense Approach
	</div>
	<div class="indented">
		<p>
			Because each client circumstance is unique, we've shied away from a predefined process.  Instead, we build 
			plans by selecting and combining options from a set of proven techniques.
		</p>
		<br/>
		<div>
			Going to the Trenches
		</div>
		<div class="indented">
			<p>
				The most common, and most costly, mistake companies make is to formulate a strategic plan without 
				once discussing the proposed changes with the employees who will be most affected.
			</p>
			<br/>
			<p>
				Our clients are often amazed by how much more their hourly employees know about their software, 
				policies, and customers than the salaried employees who manage them.  Tapping into this well of knowledge 
				greatly increases the likelihood of any project's success.
			</p>
			<br/>
			<p>
				Unfortunately, low-level employees are not typically inclined to be critical of their employers&mdash;at 
				least not on the record. It is often impossible for an in-house resource to get honest feedback from this 
				level of the organization. Conversely, employees on the front lines are usually candid with outsiders, which 
				enables consultants to uncover information that would otherwise be forever hidden from view.
			</p>
		</div>
		<br/>
		<div>
			Inspecting Assets
		</div>
		<div class="indented">
			<p>
				A comprehensive technology audit is essential for making good technical and financial decisions.
			</p>
			<br/>
			<p>
				We start by mapping out all the technological pieces to your current implementation.  This provides 
				useful data on hardware and software licensing costs.  But we don't stop there.  Once we understand 
				the system architecture, we look deeply to consider hidden costs like development software licenses, 
				human resource needs, training requirements, deployment costs, code flexibility, community support, and 
				disaster readiness.			
			</p>
		</div>
		<br/>
		<div>
			Considering Alternatives
		</div>
		<div class="indented">
			<p>
				If switching costs are low enough, it always makes sense to rethink an implementation.  Just because 
				something made sense a few years ago doesn't mean it still makes sense now.
			</p>
			<br/>
			<p>
				We help our clients evaluate new technologies and figure out whether those technologies offer any 
				improvements significant enough to warrant the process of replacing part or all of a legacy system.
			</p>
		</div>
		<br/>
		<div>
			Acknowledging Alternatives
		</div>
		<div class="indented">
			<p>
				One of the most important aspects of any strategic plan is recognizing the limitations of 
				your organization.
			</p>
			<br/>
			<p>
				Companies often understand where they want to go and have staff capable of achieving those goals. 
				But, mysteriously, progress never seems to be made.  
			</p>
			<br/>
			<p>
				The answer is usually simple.  It's not enough to have the competency to pursue your strategy: you 
				must also have the time.  Evaluating how much time your current staff can honestly apply to 
				new initiatives&mdash;while still meeting the company's operating needs&mdash;is the only way to 
				understand your staffing requirements and set timelines of any genuine value.
			</p>
		</div>
		<br/>
		<div>
			Facing Reality
		</div>
		<div class="indented">
			<p>
				You've probably heard the assertion that most software projects fail.  But what does this mean? 
				Surely not that most projects are abandoned before implementation.  We suspect the saying reflects a 
				belief among users that the new system is no better&mdash;and often worse&mdash;than the old system.
			</p>
			<br/>
			<p>
				Decades ago, Frederick Brooks famously noted that more software projects fail for lack of time than for 
				all other reasons combined.  We've seen nothing in the recent past to convince us that much has changed.
			</p>
			<br/>
			<p>
				We build realistic plans. Software projects require a significant investment of time, energy, and capital. 
				Failure to budget enough of these resources invariably leads to unsatisfied users.
			</p>
		</div>
	</div>
</div>