<div class="content">
	<div>
		John Dugan
	</div>
	
	<div class="indented">
		<p>
		John Dugan solves puzzles reflexively.  All kinds of puzzles.  Crosswords, cryptograms,
		acrostics, sudoku, scrabblegrams, you name it.  He can't help himself&mdash;it's in his blood.
		</p>
		<br/>
		<p>
		John is a self-taught analyst and programmer.  People are always surprised when he tells them he graduated 
		from Vanderbilt University with a degree in American literature.  They don't see the connection.  But it 
		makes sense if you look deeply.  Writing code is just one small part of any software project. Before a single line 
		of code is written, programmers must listen closely to people's stories, think critically about their motivations, 
		and draft coherent plans that draw meaningful conclusions from that information.  This is exactly what literature 
		scholars are trained to do. 
		</p>
		<br/>
		<p>
		John has a knack for getting stakeholders to trust each other and is an expert at learning the nuances of complex 
		software systems. He is also fluent in Ruby, Javascript, and ColdFusion.
		</p>
		<br/>
		<p>
		In his free time, John enjoys reading literature, solving puzzles and learning Spanish with his wife and son.
		</p>
	</div>

	<br/>

	<div>
		Tim Lowrimore
	</div>
	
	<div class="indented">
		<p>
		Tim Lowrimore loves creating software.  At the age of 10, he got his first computer&mdash;an Apple IIe&mdash;and began 
		programming.  Those first programs were nothing more than scripts written in Apple Logo (a dialect of Lisp) that 
		generated geometric shapes, and a couple of small games written in Basic.  While in high school he tinkered with the 
		Pascal programming language.  More recently, Tim has built systems for FedEx, Hilton Hotels Corporation and 
		Flexeye using Java, Ruby, Javascript and Actionscript.
		</p>
		<br/>
		<p>
		Tim studied graphic design at Mississippi State University and The University of Memphis, and went on to work in the 
		field for two years, after which he resumed his life as a programmer.  He is fluent in Java, Ruby, Javascript, Actionscript 
		and ColdFusion and has built small projects using Lisp, Haskell, Python and C.
		</p>
		<br/>
		<p>
		In his free time, Tim enjoys studying functional programming, playing his drums, cycling and spending time with 
		his family.
		</p>
	</div>
</div>