<div class="content">
	<p>
		A few months ago, we attracted enough attention to be featured
		in the Commercial Appeal.  It was originally supposed to be a small blurb for a weekly 
		column&mdash;we guess they liked what we had to say.
	</p>

	<br/>
	
	<p>
		It's nice to be so well-regarded.  We're trying to live up to the hype.
	</p>
</div>