<div class="content">
	<div>
		Being Openminded
	</div>

	<div class="indented">
		<p>
			It's our policy to avoid vendor lock-in.  In our view, the only way to ensure a problem gets 
			the right solution is to stay open to whatever makes the most sense.  Once you decide that one 
			platform is the best, you lose your 
			objectivity and start putting square pegs into round holes.  And that's not in anyone's interests.  
		</p>
		<br/>
		<p>
			Given that attitude, it probably won't come as a surprise that we prefer open source technologies. 
			Because open source technologies are created with interoperability in mind, they play nicely 
			with each other.  Problems solved today with the best available options can be 
			modified easily down the road when the next big thing comes out.
		</p>
		<br/>
		<p>
			We're not the only ones who like open source.  Practically every company you've ever heard of uses 
			open source software for something.  Google uses MySQL; FedEx (and everyone else) uses Java; Twitter 
			uses Ruby on Rails; the list goes on and on.  
		</p>
		<br/>
		<p>
			But listen, we not snobs about it.  We have expertise in proprietary software, too.  Because being truly 
			openminded means understanding that sometimes the big vendors have the best solution.  
		</p>
		<br/>
		<p>
			If you don't see your current technology listed to the right, don't count us out just yet.  We've been around 
			long enough that we've probably worked with whatever you have.  And, even if we haven't, we'd be happy to 
			grab a cup of coffee with you to discuss some alternatives.
		</p>
	</div>
	
	<br/>
	
	<div>
		Current Favorites
	</div>

	<div class="indented">
		<p>
			As you might imagine, this list is subject to change, but here's what we like right now.
		</p>
		<br/>
		<p>
			Languages
		</p>
		<p class="indented">
			Ruby<br/>
			Python<br/>
			Java
		</p>
		<br/>
		<p>
			Frameworks
		</p>
		<p class="indented">
			Rails<br/>
			Django
		</p>
		<br/>
		<p>
			Databases
		</p>
		<p class="indented">
			MySQL<br/>
			PostgreSQL<br/>
			Oracle<br/>
			SQL Server
		</p>
	</div>
</div>