<div class="content">
	<div>
		Because most of our clients leverage our expertise for proprietary or internal projects, we keep 
		our client list confidential.  We do understand that prospective clients would like to see examples 
		of our work.  The following case study is our attempt to find some middle ground.  Please read on to 
		learn how our services helped one of our clients achieve various mission-critical goals.
	</div>
	<br/>
	<div>
		Disclosure: We presume it's obvious, but minor details in this account have been changed to protect 
		the identity of our client. 
	</div>
	
	<br/>

	<div>
		The Problem
	</div>

	<div class="indented">
		<p>
			Acme, Inc. is a well-funded, early stage company that sells specialty widgets on the Internet.  When we met
			Acme, they promoted themselves on a brochure web site, sold their products in a third-party store, and managed their business 
			processes through a third-party application.  All these choices made sense back when Acme got started, but 
			as the business grew, things came to a head.
		</p>
		<br/>
		<p>
			Acme didn't like the third-party marketplace where they sold their widgets. The site couldn't accept their 
			inventory programmatically, so each time Acme made a new widget, it had to be added manually to the store.  The process 
			was time-consuming and error-prone.  Also, the third-party store didn't provide good statistics on product views. 
			Acme had a hard time figuring out which widgets were generating interest, and worse, it knew very little about its
			customers.
		</p>
		<br/>
		<p>
			As bad as things were on the front end, things may have been worse on the back end.  Acme was using a one-size-fits-all 
			data and task management software to track inventory, facilitate sales, and run reports.  Everything was a 
			struggle.  Because the software wasn't really designed for Acme's processes, its employees had to come 
			up with a series of conventions for approximating what they needed.  Also, everyone had total access 
			to all the data, meaning the loss of critical information was one accidental click away.  It was a catastrophe 
			waiting to happen.
		</p>
		<br/>
		<p>
			Oh, one more thing.  Acme was burned by its previous technology partner&mdash;big promises, small results&mdash;so
			they wanted to keep expenses under control until the new partner proved it could deliver.
		</p>
	</div>

	<br/>
	
	<div>
		Our Solution
	</div>

	<div class="indented">
		<p>
			We saw opportunity in Acme's story.  Acme had a good handle on its problems and was committed to solving them.  They
			were our kind of client.
		</p>
		<br/>
		<p>
			First, we needed a plan.  Acme had a lot of work that needed to be done, but their desire to keep costs under control 
			prohibited a full-scale rewrite by a team of programmers.  Instead, we developed a simple, two-phase process.  In phase one, 
			we would produce the minimum amount of functionality that permitted the successful launch of a new public site for selling 
			inventory and a new internal site for managing inventory.  In phase two, we would agree on a monthly retainer that made sense 
			for Acme's budget, and new features would be added at Acme's direction.  		
		</p>
		<br/>
		<p>
			Next, we needed to figure out what the minimum amount of functionality was.  Acme needed their own store&mdash;it was the 
			only way they would ever have the level of control they wanted over the sale of their products. Unfortunately, Acme's 
			specialty widgets aren't well-suited for the many off-the-shelf commerce engines available today.  Building a robust storefront 
			as a first step was out of the question, but we knew we could build a listing of unsold widgets and some simple search tools 
			for a modest price. Any purchases would have to occur offline, but it was a small, achievable step toward the larger goal.
			For the new back end application, the minimum amount of functionality was plain.  Acme just needed to be able to log into 
			a secure web application where widgets could be added, updated, and deleted.  Also, any current inventory would have to be 
			imported from the third-party application to the new custom application.
		</p>
		<br/>
		<p>
			With a firm idea of our short and long term goals, we designed both user interfaces&mdash;allowing plenty of room 
			for feature growth&mdash; and established an architectural scheme that would allow Acme to scale up over the coming years.  All 
			that remained was to build the applications.  One month of coding and constant collaboration later, Acme's new web presence 
			launched.
		</p>
		<br/>
		<p>
			As we were building the applications in phase one, Acme's sales and marketing consultant had a great idea.  Acme was only 
			selling its widgets in one third-party store.  The consultant found several other stores that could carry Acme's
			widgets, and amazingly, all of those stores could accept programmatic entry of widget data.  This was big news.  By 
			implementing this strategy, Acme could enter its widget inventory in its own system and then effortlessly syndicate 
			that information to over a dozen new markets.  Better still, any customer who saw Acme's widgets in one of those 
			stores would be redirected back to Acme's own web site to purchase the item.  Everyone was excited.		
		</p>
		<br/>
		<p>
			But Acme was worried.  We had already begun the process of queuing up tasks for the first month of phase two.  Acme was 
			concerned that we wouldn't let them move this new idea up to the top of a previously prioritized list.  They 
			knew that these kinds of changes usually resulted in big fights, where phrases like "scope creep" and "change controls" 
			get thrown around like spears.  But we explained that it was fine by us.  This was exactly why we developed the plan 
			we had in place.  Because Acme bought our time&mdash;not deliverables&mdash;we would always be willing to change gears when 
			that's what made sense for their business.  We both wanted the same thing, to build the best software possible.
		</p>
		<br/>
		<p>
			Acme's software continues to improve month by month.  We're still using the same arrangement, and everyone still loves it.
		</p>
	</div>

	<br/>
	
	<div>
		What's Next?
	</div>

	<div class="indented">
		<p>
			On the public side, things are going great.  The new site looks sharp and is generating more traffic than 
			expected.  Acme has gained control over the sale of its own products while continuing to exploit the expanded 
			reach of third-party stores.  It's the best of both worlds.
		</p>
		<br/>
		<p>
			The back end is also coming along nicely.  Because Acme decided to fast track the syndication of their inventory, 
			they're still using the third-party application for some of their business processes.  At the present rate, we expect them 
			to migrate to the new administrative application in the next few months.  We'll get there.  That's the beauty of 
			the process&mdash;Acme was able to prioritize the work in whatever way that made sense for their needs.  They're 
			exactly where they planned to be.
		</p>
		<br/>
		<p>
			And the future?  Well, Acme's talking about doing some exciting things in the next couple of years.  We'd love to 
			tell you more, but we want to stay on their good side.  You see, we hope we'll be involved.  Stay tuned.
		</p>
	</div>
</div>