<div class="content">
	<div>
		Coroutine offers a full array of custom software development services.  Our specialists can help you at 
		any stage of your project. The following is a brief review of our services.
	</div>

	<br/>
	
	<div>
		Planning
	</div>
	<div class="indented">
		<p>
			Planning is more than just brainstorming.  All strategies benefit from a healthy dose of new ideas, but without 
			accurate assessments of one's organization and goals, those ideas are wasted.  A great software idea without a 
			realistic budget, timeline, and technical foundation is no better than a bad idea.
		</p>
		<br/>
		<p>
			Coroutine builds tangible, actionable plans.  By looking at projects from every angle, we help our clients 
			get informed, get organized, and get real.  
		</p>
	</div>
	
	<br/>
	
	<div>
		Design
	</div>
	<div class="indented">
		<p>
			Would you build a web site without hiring a graphic designer? Of course not. You understand that knowing how to edit
			image assets in Photoshop isn't the same thing as knowing how to create a compelling, eye-catching version of your brand. You 
			need an expert for that. Software is no different.
		</p>
		<br/>
		<p>
			Coroutine's experts are fanatical about all facets of software design.  We create user interfaces that keep customers 
			coming back and architectures that stand the test of time.
		</p>
	</div>

	<br/>

	<div>
		Execution
	</div>
	<div class="indented">
		<p>
			After all your plans and designs have been prepared and validated, you still need someone to build the software. We understand
			the pressures most companies face&mdash;a shortage of staff, time, and expertise.  Don't let a great idea die from 
			neglect.  We can help you move forward.
		</p>
		<br/>
		<p>
			At Coroutine, our talented programmers and our unflinching focus on best practices sets us apart.  We deliver rock-solid, 
			production-ready code in a fraction of the time required by most companies.
		</p>
	</div>
</div>