.help
	GNU cbash, version 0.0.1-beta
	%br
	These shell commands are defined internally.  Type 'help' to see this list.
	%br
	Type 'help name' to find out more about the function 'name'.
	%br
	%br
	%ul
		%li
		  %span
		    cat [file]
		%li
		  %span
		    cd [dir]
		%li
		  %span
		    help [name]
		%li
		  %span
		    ls [-l]