.help
  %div
    ls: ls [-l]
  .indented
    Display the names of files contained within the current directory, 
    as well as any associated information.  The -l option instructs the
    command to produce the list in the long format.