.help
  %div
    cat: cat 
    %span.required_option 
      file
  .indented
    Read file contents and write them to the standard output.  The
    command only supports reading files in the current directory.
    Any attempt to enter a file path instead of a file name will
    result in an error.