.help
  %div
    cd: cd [dir]
  .indented
    Change the current directory to DIR.  If DIR begins with a slash (/),
    the path is determined from the root directory of the application; all 
    other DIR values are determined relative to the current directory.  
    A null directory name is the same as the current directory, i.e. `.'